@page "/getintouch"

<div class="my-5 text-center border rounded-2 shadow">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p class="mb-4">
            XXX-XXX
        </p>

        <i class="fa fa-envelope"></i>
        <p class="mb-4">
            210205008@ostimteknik.edu.tr
        </p>
    </div>
</div>