@model Product

<div class="col-xxl-3 col-lg-4 col-6 mb-3 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">@Model.ProductName</div>

        <img class="object-fit-cover" height="200px" src="@Model?.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">@Model?.Summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, recusandae!</p>
            <div class="d-flex justify-content-between">
                <div class="">
                    <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="">
                    <button class="btn btn-outline-danger">@Model?.Price.ToString("c2")</button>
                </div>
                <div class="">
                    <form id="@Model.ProductId" asp-page="/cart" method="post">
                        <input type="hidden" asp-for="ProductId">
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">

                        <button type="submit" class="btn btn-outline-info">
                            <i class="fa fa-cart-plus"></i>
                        </button>
                    </form>  
                </div>

            </div>
        </div>
    </div>

</div>