@model IEnumerable<Category>

<div>
    <ul class="list-group">
        @foreach (Category cat in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categoryId="@cat.CategoryId">
                    @cat.CategoryName (@await Component.InvokeAsync("CategoryNumber", @cat.CategoryId))
                </a>
            </li>
        }
    </ul>
</div>